.a{
    width:150px;
    height:150px;
    border-radius:100px 100px 100px 100px;
    position:relative;
    right:70px;
    top:-70px;
    margin:0px;
    }
  .b{
    width:150px;
    height:150px;
    border-radius:100px 100px 100px 100px;
    position:relative;
    right:-330px;
    top:70px;
    margin:0px;
    }
  .w{
    position:absolute;
    right:150px;
    top:100px;
    width:100px;
    height:100px;
    border-radius:100% 1% /100% 1%;
    transform:rotate(45deg)
    }
  div {
    background: #D9D9D9;
  }
  body{
    margin:0px;
    background: #E3516E;
  }